
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/ApiRequests/ApiRequests.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ApiRequests/TwilioRequests.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GameStatusTracker/Polling.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GameStatusTracker/SummonerInfo.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Index/Index.js")"></script>

@*TODO: switch to angular for updating result box*@

<h2>Enter a Summoner Name</h2>

<input id="summonerName" type="text" name="summonerName" />
<button id="searchSummonerByName">Search</button>

<p id="result"></p>

<div id="setupAlert">
    <h3>Phone Number:</h3>
    <input id="phoneNumber" type="tel" name="phoneNumber" />
    <button id='pollButton'>Start tracking</button>
</div>